<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= `${title} | ${siteName}`
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet" href="/public/style/styles.css")
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css', rel='stylesheet')

    body 
        block header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                div.container
                    a.navbar-brand(href="/") FoodStores

                    div.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href="/stores") STORES
                            li.nav-item
                                a.nav-link(href="/tags") TAGS
                            li.nav-item
                                a.nav-link(href="/top") TOP
                            li.nav-item
                                a.nav-link(href="/add") ADD
                            li.nav-item
                                a.nav-link(href=("/map?lng=106&lat=21")) MAP
                            if user
                                li.nav-item
                                    a.nav-link(href="hearts") HEARTS

                        ul.navbar-nav   
                            .input-group.mr-4
                                .dropdown
                                    input.form-control#searchInput(autocomplete="off")
                                    .dropdown-menu#searchDropdown.w-100
                            if !user
                                li.nav-item
                                    a.nav-link(href="/register") REGISTER
                                li.nav-item
                                    a.nav-link(href="/login") LOGIN
                            else
                                li.nav-item.text-light
                                    i(class="far fa-heart")
                                    p#heartTotal= user.hearts && user.hearts.length
                                li.nav-item
                                    a.nav-link(href="/account/edit") 
                                        img(src=(user.gravatar) alt=(user.name) class="rounded-circle")
                                li.nav-item
                                    a.nav-link(href="/logout") LOGOUT

        include mixins/_flashes.pug
        +flashes(flashes) 

        //- div.container
        //-     .display-1.mb-3 Map Search Playground 
        //-     .form-group
        //-         .dropdown
        //-             input#mapSearchInput.form-control(type="text" placeholder="Type ur address")
        //-             .dropdown-menu#mapSearchDropdown
        //-     .form-group
        //-         input#lngInput.form-control(type="text" placeholder="longtitude")
        //-     .form-group
        //-         input#latInput.form-control(type="text" placeholder="latitude")
        
        block main

        block footer
        //- script(src=`https://maps.googleapis.com/maps/api/js?key=${MAP_API_KEY}&libraries=places`)
        script(src="/public/dist/bundle.js")