extends layout

block main
    .container
        h2.display-4 RESET YOUR PASSWORD
        form(method="POST" action=`/reset/${token}`)
            .form-group
                label(for="passwordInput") Password
                input.form-control(name="password", type="password", id="passwordInput")
            .form-group
                label(for="passwordConfirmInput") Confirm Password
                input.form-control(name="passwordConfirm", type="password", id="passwordConfirmInput")
            .form-group
                input.btn.btn-warning(type="submit" value="RESET PASSWORD")